/* 無理やり丸くするための準備（スタイルを消しまくったりポインタをカーソルにしてわかりやすく） */
.TUIC_col_setting_container input[type="color"] {
    width: 200%;
    height: 200%;
    appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    transform: translate(-25%, -25%);
}

/* 設定項目のタイトル */
.TUIC_setting_title {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    font-feature-settings: "palt";
    color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%) !important;
}

/* 設定用項目のコンテナ */
.TUIC_col_setting_container {
    /* margin-top: 8px; */
    padding: 10px 14px;
    border-radius: 14px;
}

/* 設定画面の文字色 */
.TUIC_setting_text {
    color: var(--twitter-TUIC-color);
}

.TUICDetails,
.TUICEasySetting {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    background-color: var(--TUIC-container-background);
    border: 2px solid;
    border-color: rgb(0 0 0 / 0%) !important;
    border-radius: 5px;
}

.TUICDetails:not([open]),
.TUICEasySetting {
    padding-bottom: 10px;
    border-color: var(--TUIC-detail-border) !important;
}

.TUIC_icon_button_con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 2px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 9999px;
    transition: 0.3s;
}

.TUIC_icon_button_con > svg * {
    stroke: var(--twitter-TUIC-color);
    transition: 0.2s;
}

.TUIC_icon_button_con > svg {
    width: 22px;
    height: 22px;
    pointer-events: none;
    stroke-width: 0.5px;
}

.TUIC_icon_button_con:is(:hover, :focus-visible) {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 10%);
    transition: none;
}

.TUIC_icon_button_con:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 40%);
    transition: none;
}

.TUIC_setting_button {
    /* box-shadow: 0 5px 5px 0 rgb(0 0 0 / 30%); */
    /* color: #71767b !important; */
    text-align: center;
    cursor: pointer;
    background: transparent;
    /* border-color: var(--twitter-TUIC-color); */
    border-color: #71767b !important;
    border-radius: 9999px;
    transition: none;
}

.TUIC_setting_button:is(:hover, :focus-visible) {
    /* background: var(--TUIC-container-background); */
}

.TUIC_setting_button_width {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px;
}
.TUICEasySettingButtons {
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TUIC_none_scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.TUIC_none_scroll::-webkit-scrollbar {
    display: none;
}

.TUICTextInput {
    color: var(--twitter-TUIC-color);
    background: transparent;
}

div[tuicudbox] > .UpDownButtons {
    padding: 0 7px;
}
.TUIC_setting_detailsbox_content_container div[tuicudbox] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.TUIC_resetOnly_colorSettings {
    width: 100%;
    height: 40px;
    color: var(--TUIC-container-background);
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 90%);
    border: none;
    border-radius: 9999px;
}

.TUIC_resetOnly_colorSettings:active {
    background: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 30%);
}

.TUICSettingSubTitle {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    font-size: 15px;
    font-weight: 700;
    font-feature-settings: "palt";
    color: var(--twitter-TUIC-color);
    letter-spacing: 1px;
}

.TUICCheckBoxParent:not(:last-of-type) {
    padding-bottom: 10px;
}

.TUICCheckBoxParent {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.TUICCheckBoxParent > div {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25em;
}

#TUICSettings :is(label, span, button, h2) {
    white-space: pre-wrap;
}

.TUIC_setting_divider {
    margin: 20px 0;
    border: none;
    border-top: solid 1px var(--TUIC-detail-border);
}

.TUIC_setting_divider_nomargin {
    margin: 0;
}

.TUIC_setting_divider_m35 {
    margin: 35px 0;
}

.TUIC_setting_IconRadioButton > svg {
    width: 24px;
    height: 24px;
}

.TUIC_setting_IconRadioButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 9999px;
}

.TUICIconRadioButton input[type="radio"]:checked ~ div > label {
    background-color: #1da1f2;

    --twitter-TUIC-color: white;
}

.TUICIconRadioButton input[type="radio"]:not(:checked):is(:hover, :focus-visible) ~ div > label {
    background-color: color-mix(in srgb, var(--TUIC-container-background), var(--twitter-TUIC-color) 5%);
}

.TUICIconRadioButton input[type="radio"] ~ div > label {
    transition: 0.2s;
}

.TUICIconRadioButton input[type="radio"] {
    display: none;
}
